/* GENERAL */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: #202020;
    font-size: 13px;
}

body {
    overflow: hidden;
}

.scroll-section {
    height: 100%;
    position: absolute;
}

#description {
    position: absolute;
    top: 10px;
    right: 10px;
    overflow: hidden;
}

#description, .text {
    z-index: 1;
    color: #eee;
    font: 16px 'Lucida Grande',sans-serif;
    max-width: 40%;
    background: #1a1a1a;
    opacity: 0.8;
    padding: 10px;
}

#description p, #description ul {
    margin: 0px;
}

.text a {
    color: lightcoral;
}

.text a:hover {
    color: #f0c0c0;
}

.text > ul {
    padding: 0 2rem;
}

@media (max-width: 600px) {
    .text {
        display: none;
    }
}

/* MAIN SECTION (RIGHT) */
#main {
    width: calc(100% - 300px);
    height: 100%;
    display: inline;
    position: fixed;
    top: 0;
    right: 0;
}

#content {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 300px);
}

#view-source {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

/* NAVIGATION (LEFT) */
nav {
    width: calc(300px - 4rem);
    padding: 0 2rem;
    overflow: auto;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

nav img {
    margin-top: 20px;
}

.nav-section {
    margin-top: 0px;
}

nav .package {
    padding-bottom: 20px;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    list-style: none;
}

a, a:visited, nav ul a, nav ul a:visited {
    cursor: pointer;
    color: #6091b2;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
    color: #6091b2aa;
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
    color: #4b4b4b;
}

h3 {
    font-size: 16px;
    margin-bottom: 5px;
}


/* IFRAME/EXAMPLE CONTENT */
#viewerDiv {
    height: 100%;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

/* PLUGINS/GUI */
.dg.main {
    position: absolute;
}

@media (max-width: 600px) {
    #menuDiv {
        display: none;
    }
}

#miniDiv {
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    left: 20;
    bottom: 20;
    color: white;
}

#divScaleWidget {
    display: block;
    position: absolute;
    right: 135px;
    bottom: 20;
    border: 2px solid black;
    border-top: none;
    text-align: center;
    display: block;
    background-image: linear-gradient(rgba(200, 200, 200, 0.3), rgba(200, 200, 200, 0.3));
    width: 200px;
    height: 18px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.tooltip {
    display: none;
    background-image: linear-gradient(rgba(80, 80, 80,0.95), rgba(60, 60, 60,0.95));
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    color: #CECECE;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
}

.tooltip li, .coord {
    font-size: 12px;
    padding-left: 20px;
    color: #93B7C0;
    text-shadow: 0px 1px 0px rgba(200,200,200,.3), 0px -1px 0px rgba(30,30,30,.7);
}
