#itowns-loader span {
  display: inline-block;
  color: #404e73;
  font-family: Arial;
  font-weight: bold;
  text-decoration: none;
  animation: colorchange 1s infinite alternate ease-in-out;
}
#itowns-loader .c2 {
  animation-delay: 0.1s;
}
#itowns-loader .c3 {
  animation-delay: 0.2s;
  margin-left: -0.12em;
}
#itowns-loader .c4 {
  animation-delay: 0.3s;
}
#itowns-loader .c5 {
  animation-delay: 0.40s;
}
#itowns-loader .c6 {
  animation-delay: 0.50s;
}

@keyframes colorchange {
  100% { color: #404e73; transform: translate(0, 0); }
  50%  { color: #404e73; transform: translate(0, 0); }
  30%  { color: #7ea8c5; transform: translate(0, -.15em); }
  0%   { color: #404e73; transform: translate(0, 0em); }
}
#itowns-loader {
  z-index: 1000;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-size: 5em;
}
