body { 
	margin: 0; 
	padding: 0; 
}

#map { 
	position: absolute; 
	width: 70%; 
	height: 100%
}

#edit-data {
	position: absolute;
	right: 0;
	width: 25%;
}

h1 {
	text-align: center;
}

input {
	margin: 10px;
}
